{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cette page est un STUB</h1>
    <p>Vous êtes sur la version de dev du serveur de Mediaz</p>
    <p><strong>Pour voir la vrai page, executez <code>$ gulp build</code> à la racine du projet.</strong></p>
{% endblock %}
